body{
    background: #e6f2ff;
    font-family: sans-serif;
    font-family: 'Open Sans', sans-serif;
}


a:hover{
  color: #00ccff;
  cursor: pointer;
}

.navbar{
    background-color:#162f39;
    border-radius:0;
}

.row-cen {
    text-align:center;
}

.col-cen {
    display:inline-block;
    float:none;
}

#login{
    border-top: 2px solid #00ccff;
}

.login-head{
    color: black;
    font-weight: bold;
    background: #00ccff;
    padding: 0.5em;
    text-align: center;
}

.close{
    font-size: 220%;
}

.su-label{
    font-size: 130%;
}

.form-btn{
    border-radius: 0;
    font-size: 130%;
    font-weight: bold;
    margin: 0.5em 0;
    width: 7em;
}

.form-btn:hover{
    box-shadow: 0 4px 10px black,0 0px 0px black;
}

.panel-heading{
  font-weight: bold;
  font-size: 120%;
}

legend{
  text-align:center;
  font-weight: bold;
  font-size: 1.7em;
}

#logout{
  font-weight: bold;
  border: 1px solid #00ccff;
  padding: 0.7em;
  margin-top: 0.3em;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  transition: background 0.6s;
}

#logout:hover{
  background: #00ccff;
  color: white;
}

.popover {
  border: 2px solid #00ccff;
  max-width:600px;
}

.popover-title {
  background-color: #00ccff; 
  color: #FFFFFF; 
  text-align:center;
  font-size: 120%;
}

.popover-content {
  background-color: white;
  color: #FFFFFF;
  max-height:30em; 
  overflow:scroll;
  padding: 25px;
}
  
.g-user{
  font-size:120%;
  font-weight: bold;
}

.g-user:hover{
  cursor: none;
}

button , a {
  border-radius: 0 !important;
}

.white{
  color:white;
}

btn-danger{
  background-color: #ff3333 !important;
}

thead{
  background: #00b3b3;
}

nav a : hover {
  color: white !important;
}

